_wpeprivate
.wpe-devkit
.wpengine-conf
wp-admin
wp-includes
.htaccess
.wpe-pull-ignore
.wpe-push-ignore
apple-touch-icon-precomposed.png
apple-touch-icon.png
favicon.ico
./index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

wp-content/languages
wp-content/upgrade
wp-content/uploads
wp-content/advanced-cache.php
wp-content/debug.log
wp-content/themes/genesis-block-theme
wp-content/themes/twentynineteen
wp-content/themes/twentytwenty
wp-content/themes/twentytwentyone
wp-content/themes/twentytwentytwo
wp-content/themes/index.php
index.php


node_modules/
.awcache
