$gradient-beige-to-top: linear-gradient(to top, #fffaf6, #fef6f0);
$gradient-beige-top-bottom: linear-gradient(to bottom, #fffaf6, #fef6f0);
$gradient-blue-to-top: linear-gradient(to top, #0e3662, #0a2a5c);
$gradient-blue-to-bottom: linear-gradient(to bottom, #0e3662, #0a2a5c);

$gradient-blue-to-bottom-opa: linear-gradient(191deg, rgba(0, 38, 99, 0), rgba(0, 29, 77, 0.8));
$gradient-white: linear-gradient(118deg, rgba(238, 238, 238, 0.86), rgba(255, 255, 255, 0));