/*$box-shadow--default: 0 7px 10px -5px rgba(0, 0, 0, 0.15);
$box-shadow--header: 0 0 8px 0 rgba(43, 18, 0, 0.04);
$box-shadow--searchfilters: 0 10px 60px 0 #fcdacf;

$box-shadow--cards: 12px 40px 20px -30px rgba(210, 11, 74, 0.1), 0 30px 25px -44px rgba(224, 163, 182, 0.6);
$box-shadow--button: 0 12px 25px 0 rgba(189, 29, 79, 0.2);
$box-shadow--formfield: 0 1px 3px 0 rgba(190, 172, 160, 0.4);
$box-shadow--formfield-focus: 0 12px 14px -12px rgba(0, 0, 0, 0.5);
$box-shadow--show-more-block: 0 -8px 12px 0 rgba(207, 175, 150, 0.03);

$box-shadow--apartment-item-banner: 2px 9px 5px -5px #00000033;
$box-shadow--big-button-shadow: 0 20px 22px -14px rgba(94, 54, 67, 0.61);
$box-shadow--chat-button: 8px 9px 12px 0 rgba(95, 0, 30, 0.2);
$box-shadow--sticky-footer: 0 0 10px 0 rgba(0, 0, 0, 0.1);*/

$shadow-subnav: 0px 20px 32px -8px rgba(0, 0, 0, 0.08);

$shadow-headings:  0px 4px 4px rgba(0, 0, 0, 0.25);