.page-template-tmpl-article .tmpl-single {
	.tmpl-single__wrapper {
		margin-top: 0;
	}
}

.tmpl-single {

	&__wrapper {
		//@include site-wrapper;

		background-color: $color-white;
		//margin-top: -32px;

		position: relative;

		color: $color-black;
		padding-bottom: 64px;

		@include breakpoint(1280px) {
			padding-bottom: 120px;
		}

	}

	&__meta-wrapper {
		font-size: 20px;
		line-height: 24px;
		font-weight: 500;
		margin-bottom: 48px;
	}

	&__meta-date {
		padding-right: 20px;
	}

	&__meta-name {
		padding-left: 20px;
	}

	&__header {

		@include grid-base;
		padding-top: 72px;
		padding-bottom: 64px;
		padding-left: 16px;
		padding-right: 16px;

		grid-column: 1 / span 12;
		display: grid;
		grid-template-columns: repeat(4, minmax(0, 1fr));
		grid-auto-rows: auto;
		grid-column-gap: 16px;

		background: $color-barley-white;

		text-align: center;

		position: relative;

		&:after {
			content: "";
			width: 0;
			height: 0;
			left: 0;
			bottom: 0;
			position: absolute;

			@include breakpoint($tablet) {
				border-bottom: 100px solid $color-white;
				border-right: 180px solid transparent;
			}
		}

		@include breakpoint($tablet) {
			grid-template-columns: repeat(12, minmax(0, 1fr));
			grid-column: 2 / span 10;
			grid-column-gap: 24px;
		}

		@include breakpoint($desktop) {
			grid-column: 2 / span 10;
			padding-left: 0;
			padding-right: 0;
		}

		@include breakpoint($desktop) {

			grid-column-gap: 32px;
		}

		@include breakpoint($desktop-large) {
			padding-top: 220px;
			padding-bottom: 456px;
			grid-column: 1 / span 12;
			grid-template-columns: repeat(12, minmax(0, 1fr));
		}

		&--no-image {
			margin-bottom: 40px;
			@include breakpoint($desktop-large) {
				padding-bottom: 80px;
				margin-bottom: 64px;
			}
		}

		&__pageheading {
			margin: 0;
			font-size: 32px;
			line-height: 40px;
			color: $color-black;
			font-weight: 500;
			font-family: $font-family-body;
			margin-bottom: 40px;

			@include breakpoint($desktop) {
				font-size: 52px;
				line-height: 56px;
				margin-bottom: 56px;
			}
		}

		&__lead-paragraph {
			margin: 32px 0 0;
			font-size: 20px;
			line-height: 32px;

			@include breakpoint($tablet) {
				font-weight: 300;
				font-size: 26px;
				line-height: 40px;
			}
		}

		&__text-wrapper {
			position: relative;
			grid-column: 1 / span 4;

			max-width: 928px;
			margin-left: auto;
			margin-right: auto;

			@include breakpoint($tablet) {
				grid-column: 2 / span 10;
			}
			@include breakpoint($desktop) {
				grid-column: 3 / span 8;
			}

		}

		&__image-wrapper {

			position: relative;
			display: block;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			grid-column: 1 / span 4;
			align-self: stretch;
			margin-bottom: 64px;

			@include breakpoint($tablet) {
				grid-column: 1 / span 12;
				padding-right: 0;
				margin-top: 0;
			}
			@include breakpoint($desktop-large) {
				margin-top: -360px;
				margin-bottom: 80px;

			}

		}
		&__image {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			display: block;
			position: relative;

			&-desc {
				white-space: nowrap;
				height: 20px;
				padding-left: 8px;
				padding-right: 8px;
				line-height: 20px;
				font-size: 14px;
				display: inline-block;
				position: absolute;
				transform: rotate(90deg);
				transform-origin: 100% 0;
				right: 0;
				bottom: -20px;
				color: #000;
				background: rgba(255, 255, 255, .5);
				z-index: 2
			}
		}
	}

	&__content {

		margin-right: auto;
		margin-left: auto;
		word-break: break-word;
		display: block;
		//grid-column-gap: inherit;
		max-width: 1408px;

		> *:not(.tmpl-single__header__image-wrapper):not(.blue):not(.video):not(.wp-caption) {
			max-width: 688px + 32px;
			margin-left: auto;
			margin-right: auto;
			padding-left: 16px;
			padding-right: 16px;
		}

		iframe {
			max-width: 100%;
		}

		h2 {
			color: $color-black;
			font-size: 32px;
			line-height: 40px;
			margin-bottom: 40px;
			margin-top: 48px;
			font-weight: 500;

			font-family: $font-family-body;

			@include breakpoint($desktop) {
				font-size: 40px;
				line-height: 48px;
				margin-top: 56px;
				margin-bottom: 48px;
			}
		}

		h3 {
			color: $color-black;
			font-size: 24px;
			line-height: 32px;
			font-weight: 500;
			margin-top: 32px;
			margin-bottom: 16px;
			font-family: $font-family-body;

			@include breakpoint($desktop) {
				font-size: 32px;
				line-height: 40px;
				margin-top: 48px;
				margin-bottom: 40px;
			}
		}

		h4, h5, h6 {
			color: $color-black;
			font-size: 17px;
			line-height: 28px;
			font-weight: 500;
			margin-top: 16px;
			margin-bottom: 16px;
			font-family: $font-family-body;

			@include breakpoint($desktop) {
				font-size: 24px;
				line-height: 32px;
				margin-top: 40px;
				margin-bottom: 32px;
			}
		}

		p, li {
			font-size: 17px;
			line-height: 28px;
			margin-top: 16px;
			margin-bottom: 16px;

			@include breakpoint($desktop) {
				font-size: 20px;
				line-height: 32px;
			}
		}

		p {
			a.button {
				display: inline-block;
				margin-top: 32px;
				margin-bottom: 40px;
				border: 4px solid $color-black;
				box-sizing: border-box;
				border-radius: 16px;
				padding: 16px 32px;
				font-size: 20px;
				line-height: 24px;
				text-decoration: none;
				font-weight: 500;

				@include breakpoint($tablet) {
					margin-top: 56px;
					margin-bottom: 48px;
				}

				&:after {
					content: "";
					background-image: url("data:image/svg+xml,%3Csvg width='30' height='16' viewBox='0 0 30 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.9683 4.80603C25.7752 3.50002 22.6859 1.94525 19.7118 0.209558C18.1153 -0.723304 16.6628 1.7191 18.2594 2.65196C20.3228 3.8562 22.4438 4.94737 24.611 5.95373C21.7867 6.27034 18.9452 6.58129 16.1037 6.63783C13.5677 6.68871 11.0375 6.47952 8.51297 6.26468C6.15562 6.0668 3.80403 5.86327 1.44669 5.6767C0.662824 5.60885 0 6.36645 0 7.08447C0 7.8986 0.662824 8.43571 1.44092 8.4979C7.40634 8.97281 13.366 9.75868 19.3545 9.28942C20.5706 9.1933 21.7867 9.07458 23.0029 8.94454C21.5504 10.4428 20.2651 12.0993 19.1758 13.8915C18.2248 15.4576 20.7147 16.8824 21.6657 15.3163C23.585 12.1502 26.1902 9.43076 29.3141 7.38412C30.4208 6.6661 30.1037 5.27528 28.9683 4.80603Z' fill='%23303030'/%3E%3C/svg%3E");
					width: 30px;
					height: 16px;
					display: inline-block;
					margin-left: 24px;
					transition: transform .25s ease;
				}

				&:hover {
					&:after {
						transform: translateX(8px);
					}
				}
			}
		}

		@include breakpoint($desktop) {
			grid-column: 2 / span 10;
			padding-left: 0;
			padding-right: 0;
		}

		ul {
			list-style-type: none;
			padding-left: 0px;
			margin-bottom: 32px;

			li {
				position: relative;
				padding-left: 60px;

				@include breakpoint($desktop) {
					padding-left: 120px;
				}

				&:before {
					content: "";
					position: absolute;
					background-color: $color-shamrock;
					top: 8px;
					left: 0;
					width: 24px;
					height: 24px;

					@include breakpoint($desktop) {
						left: 48px;
					}
				}
			}
		}

		ol {
			list-style-type: none;
			padding-left: 0px;
			margin-bottom: 32px;

			li {
				position: relative;
				padding-left: 60px;
				counter-increment: numbers;

				@include breakpoint($desktop) {
					padding-left: 120px;
				}

				&:before {
					content: counter(numbers) ".";
					position: absolute;
					color: $color-medium-purple;
					top: 0;
					left: 0;
					font-size: inherit;
					line-height: inherit;
					font-weight: 700;

					@include breakpoint($desktop) {
						left: 48px;
					}
				}

				ol li {
					counter-increment: subCounter;

					&:before {
						content: counter(subCounter) ".";
					}
				}
			}
		}

		blockquote {
			color: $color-medium-purple;
			margin: 48px 0;
			padding: 12px 0 24px 16px;

			border-left: 8px solid $color-medium-purple;
			font-weight: 500;

			@include breakpoint($desktop) {
				margin: 56px 0;
				font-size: 40px;
				line-height: 56px;
				padding: 12px 60px 12px 88px;
			}

			* {
				position: relative;
			}

			p:first-of-type {
				margin-top: 0;
				margin-bottom: 40px;
			}

			p ~ p:last-of-type {
				margin-bottom: 0;
				font-size: 18px;
				line-height: 24px;
			}

			p {
				&:empty {
					display: none;
				}

				font-size: 22px;
				line-height: 32px;

				@include breakpoint($desktop) {
					font-size: 26px;
					line-height: 40px;
				}
			}

		}

		div.blue {
			grid-column: 1 / span 4;
			background: $color-anakiwa;
			position: relative;
			padding: 64px 16px;
			margin-top: 64px;
			margin-bottom: 64px;

			> * {
				max-width: 688px;
				margin-left: auto;
				margin-right: auto;
			}

			blockquote {
				color: $color-black;
				padding: 0;
				margin: 0 auto;
				font-weight: 500;
				border: 0 none;

				p:first-of-type {
					margin-top: 0;
					margin-bottom: 40px;
				}

				p ~ p:last-of-type {
					margin-bottom: 0;
					font-size: 18px;
					line-height: 24px;
				}

				@include breakpoint($desktop) {

				}
			}

			@include breakpoint($tablet) {
				grid-column: 1 / span 12;
			}

			@include breakpoint($desktop-large) {
				margin-top: 80px;
				margin-bottom: 80px;
				padding-top: 168px;
				padding-bottom: 160px;
			}

			&:after {
				content: "";
				width: 0;
				height: 0;
				border-top: 54px solid $color-white;
				border-left: 90px solid transparent;
				right: 0;
				top: 0;
				position: absolute;

				@include breakpoint($tablet) {
					border-top: 108px solid $color-white;
					border-left: 180px solid transparent;
				}
			}
		}

		figure, .wp-caption {
			position: relative;
			max-width: 100%;
			margin: 48px 0;

			@include breakpoint($tablet) {
				margin: 64px 0;
				padding: 0;
			}
			@include breakpoint($desktop) {
				margin: 88px 0;
			}

			figcaption {
				position: relative;

			}
		}

		img, figure {
			@include breakpoint($mobile-large) {
				grid-column: 1 / span 12;
			}
			@include breakpoint($tablet) {
				grid-column: 2 / span 10;
			}
			@include breakpoint($desktop) {
				grid-column: 3 / span 8;
			}
		}

		img {
			display: block;
			position: relative;
			max-width: 100%;
			height: auto;

			z-index: 2;

		}

		p > img {

			margin-top: 32px;
			margin-bottom: 40px;

			@include breakpoint($tablet) {
				margin-left: -80px;
				margin-right: -80px;
				width: calc(100% + 160px);
				max-width: calc(100% + 160px);
			}

			@include breakpoint($desktop) {
				margin-left: -100px;
				margin-right: -100px;
				width: calc(100% + 200px);
				max-width: calc(100% + 200px);
				margin-top: 72px;
				margin-bottom: 80px;
			}

		}

		figcaption, p.wp-caption-text {
			margin-top: 24px;
			padding-left: 16px;
			padding-right: 16px;
			font-size: 16px;
			line-height: 24px;
			font-family: $font-family-body;
			border-left: 4px solid $color-medium-purple;

			@include breakpoint($tablet) {
				margin-top: 32px;
				margin-left: auto;
				margin-right: auto;
				max-width: 688px;
				border-width: 8px;
			}

		}

		.wp-caption {
			max-width: 928px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 32px;
			margin-bottom: 40px;
			width: 100% !important;
		}

		.video {
			max-width: 928px;
			width: 100%;
			position: relative;
			overflow: hidden;
			margin-left: auto;
			margin-right: auto;
			margin-top: 32px;
			margin-bottom: 40px;

			@include breakpoint($desktop-large) {
				margin-top: 72px;
				margin-bottom: 80px;
			}
		}

		.video:before {
			content: "";
			position: relative;
			padding-bottom: 56.25%;
			height: 0;
			display: block;
			overflow: hidden;
		}

		.video iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

	}

	&__shares {
		margin-top: 48px;
		position: relative;
		background: $color-medium-purple;
		padding: 32px 32px 48px 32px;
		text-align: center;

		@include breakpoint(1280px) {
			position: fixed;
			right: -1px;
			top: calc(50% - 190px);
			background-color: transparent;
			background-image: url("data:image/svg+xml,%3Csvg width='157' height='390' viewBox='0 0 157 390' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M42.3651 43.9437L157 0V390L0 301.114L42.3651 43.9437Z' fill='%23C631DE'/%3E%3C/svg%3E");
			background-size: 159px 390px;
			width: 159px;
			height: 390px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			z-index: 20;
			padding-right: 0 !important;
			padding-left: 32px !important;

		}

		a {
			margin-left: 20px;
			margin-right: 20px;

			&:hover {
				text-decoration: none;
			}

			@include breakpoint(1280px) {
				margin-top: 16px;
				margin-bottom: 16px;
			}
		}

		&:after {
			content: "";
			width: 0;
			height: 0;
			border-top: 40px solid $color-white;
			border-right: 120px solid transparent;
			left: 0;
			top: 0;
			position: absolute;
			@include breakpoint(1280px) {
				display: none;
			}
		}

		&:before {
			content: "";
			width: 0;
			height: 0;
			border-bottom: 40px solid $color-white;
			border-left: 120px solid transparent;
			right: 0;
			bottom: 0;
			position: absolute;
			@include breakpoint(1280px) {
				display: none;
			}
		}
	}

	&__shares-heading {
		margin-top: 0 !important;
		color: $color-white !important;
		font-family: $font-family-heading;
		text-transform: uppercase;
		font-weight: 400;

		@include breakpoint(1024px) {
			font-size: 24px !important;
			line-height: 32px !important;
		}

		@include breakpoint(1280px) {
			color: $color-medium-purple !important;
			position: absolute;
			top: -26px;
			right: 0;
			padding-right: 8px;
			transform-origin: 100% 100%;
			transform: rotate(-21deg);
			font-size: 17px !important;
			line-height: 24px !important;
			width: 124px;
			text-align: left;
		}
	}
}