<div class="breadcrumb">
    <ol class="breadcrumb__wrapper">
        {{#each breadcrumb}}
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="{{url}}">{{title}}</a></li>
        {{/each}}
    </ol>
</div>